
/*Background color*/
/* #grad1 {
    background-color:#9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA);
} */

/*form styles*/

.label-text{
    font-family: montserrat !important;
    color: #2C3E50 !important;
    
}
#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

#msform input[type="text"], #msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0;
}

/*Blue Buttons*/
#msform .action-button {
    width: 100px;
    background: skyblue;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue;
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
}

/*Dropdown List Exp Date*/
select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue;
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
}

/*FieldSet headings*/
.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

/*progressbar*/
#progressbar, #progressbar2 {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    padding-left: 0;
}

#progressbar .active, #progressbar2 .active {
    color: #000000;
}

#progressbar li, #progressbar2 li {
    list-style-type: none;
    font-size: 12px;
    width: 20%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before, #progressbar2 #account:before {
    /* font-family: FontAwesome; */
    content: "1";
}

#progressbar #personal:before, #progressbar2 #personal:before {
    /* font-family: FontAwesome; */
    content: "2";
}

#progressbar #payment:before, #progressbar2 #payment:before {
    /* font-family: FontAwesome; */
    content: "3";
}
#progressbar #confirm:before, #progressbar2 #confirm:before {
    /* font-family: FontAwesome; */
    content: "4";
}

#progressbar #finish:before, #progressbar2 #finish:before {
    /* font-family: FontAwesome; */
    content: "5";
}

/*ProgressBar before any progress*/
#progressbar li:before, #progressbar2 li:before  {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after, #progressbar2 li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: skyblue;
}
#progressbar2 li.active:before, #progressbar2 li.active:after {
    background: skyblue;
}

/*Imaged Radio Buttons*/
.radio-group {
    position: relative;
    margin-bottom: 25px;
}

.radio {
    display:inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor:pointer;
    margin: 8px 2px; 
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}


/* increment counter  */
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.quantity__minus,
.quantity__plus {
    display: block;
    width: 22px;
    height: 23px;
    margin: 0;
    background: #DEE0EE;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}
.quantity__minus:hover,
.quantity__plus:hover {
    background: #575B71;
    color: #fff;
}
.quantity__minus {
    border-radius: 3px 0 0 3px;
}
.quantity__plus {
    border-radius: 0 3px 3px 0;
}
.quantity__input {
    width: 32px;
    height: 23px;
    margin: 0;
    padding: 0;
    text-align: center;
    border-top: 2px solid #DEE0EE;
    border-bottom: 2px solid #DEE0EE;
    border-left: 1px solid #DEE0EE;
    border-right: 2px solid #DEE0EE;
    background: #fff;
    color: #8184A1;
}
.quantity__minus:link,
.quantity__plus:link {
    color: #8184A1;
}
.quantity__minus:visited,
.quantity__plus:visited {
    color: #fff;
}
/* sliderrange */


@media (min-width:300px) and (max-width:768px) {
    #msform fieldset .form-card{
        padding: 14px 15px 30px 15px
}
}

@media (min-width:315px) and (max-width:425px) {
    #progressbar li {
        font-size: 9px;
    }

    #progressbar li:before {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        margin: 0;
        padding: 0;
    }
    #progressbar{
        padding-left: 10px;
    }
    
}


@media (min-width:769px){
 #grad1 .main-column{
     width: 100%;
 }
}
